$radius-none: 0 !default;
$radius-xs: 0.125rem !default;
$radius-sm: 0.25rem !default;
$radius-md: 0.375rem !default;
$radius-lg: 0.5rem !default;
$radius-xl: 0.75rem !default;
$radius-2xl: 1rem !default;
$radius-full: 9999px !default;

$radius-scale: (
  'none': $radius-none,
  'xs': $radius-xs,
  'sm': $radius-sm,
  'md': $radius-md,
  'lg': $radius-lg,
  'xl': $radius-xl,
  '2xl': $radius-2xl,
  'full': $radius-full,
) !default;
